/*———Fontlar———*/
.sans-serif {
  font-family: sans-serif, arial;
}

.arial {
  font-family: arial, sans-serif;
}

.serif {
  font-family: serif;
}

.monospace {
  font-family: monospace;
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

.system-ui {
  font-family: system-ui;
}


/*———Hizalamalar———*/
body {
  min-height: 100vh;
}

.ortala {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.hizala {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sola-hizala {
  text-align: left;
  justify-content: flex-start;
}

.saga-hizala {
  text-align: right;
  justify-content: flex-end;
}


.dikey-sola {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dikey-orta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dikey-saga {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
