body {
 background: linear-gradient(135deg, #121212, #1a1a1a); 
 color: #e5e5e5;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  color: #48D1CC;
}

p , b , i , strong , sub , sup {
 color:  #e5e5e5; 
} 

a {
 color: #20B2AA;
}

a:hover {
  color: #48D1CC;
}

button {
  background: #20B2AA;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  margin: 5px;
  transition: transform 0.2s;
  color: #e5e5e5;
  box-shadow: 0 2px 5px black;
}

button:hover {
  background: #48d1ccbb;
}

button:active {
  transform: scale(0.9);
}
