::selection {
 background: #48d1ccaa;
 color: white !important:
}

html , body {
 background: linear-gradient(135deg, #121212, #1a1a1a); 
 color: #e5e5e5;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  color: #48D1CC;
}

p , b , i , strong , sub , sup {
 color:  #e5e5e5; 
} 

a {
 color: #20B2AA;
}

a:hover {
  color: #48D1CC;
}

button {
  background: #20B2AA;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  margin: 5px;
  transition: transform 0.2s;
  color: #e5e5e5;
  box-shadow: 0 2px 5px black;
}

button:hover , 
input[type="submit"]:hover ,
input[type="button"]:hover {
  background: #48d1ccbb;
}

button:active,
input[type="submit"]:active ,
input[type="button"]:active {
  transform: scale(0.9);
}

input {
 background: #121212;
 border: 2px solid #48d1ccbb;
 border-radius: 4px;
 padding: 5px;
 margin: 5px;
 box-shadow: 0 2px 5px black;
 color: #e5e5e5;
}

input::placeholder {
 color: #e5e5e5;
}

input:focus {
 outline: 1px solid #48d1ccaa;
 color: white;
}

input[type="submit"] , input[type="button"] {
 background: #20B2AA;
 border: none;
 border-radius: 5px;
 padding: 10px 16px;
 margin: 5px;
 transition: transform 0.2s;
 color: #e5e5e5;
 box-shadow: 0 2px 5px black;
}



