body {
 background: #121212; 
 color: white;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  color: #48D1CC;
}

p , b , i , strong , sub , sup {
 color:  #e5e5e5; 
} 

a {
 color: #20B2AA;
}

a:hover {
  color: #48D1CC;
}

button {
  background: #48D1CC;
  border: 2px solid darkblue;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 5px;
  transition: transform 0.2s;
}

button:hover {
  background: #20B2AA;
}

button:active {
  transform: scale(0.95);
}
